@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Fira+Sans:300,500,700');

* {
    outline: none;
}

body, html, #root {
    font-family: 'Fira Sans', sans-serif;    
    padding: 0;
    margin: 0;
    font-weight: 300;
}

body, html, #root {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    min-height: 100%;
}    

input, button {
    font-family: 'Fira Sans', sans-serif;
}

ul {
    list-style: none;
    padding: 10px;
}

#root {
    min-height: 100%;    
    display: flex;
}

.app {
    &__container {
        margin-top: 210px;
        display: flex;
        flex-direction: column;        
        flex: 1;
        width: 100%;
        align-items: center;
    }
}

.centered {
    width: 95%;
    max-width: 1000px;
}

p {
    margin: 0;
}

button {
    -webkit-appearance: none;
    cursor: pointer;
    font-family: 'Fira Sans', sans-serif;
    
    font-weight: bold;
    font-size: 26px;
    padding: 8px 15px;
    text-transform: lowercase;
}

h1, h2, h3 {
    font-family: 'Fira Sans', sans-serif;    
}