.loginModal {
    &__container {
        background: #d95e3f;
        
        > h3 {
            color: #fff;
            font-size: 44px;
            margin: 0 0 10px;
            padding: 0;
            width: 60%;
            max-width: 500px;
            text-align: left;            
        }

        > input, > button {
            width: 60%;
            border: 0;
            margin: 5px 0;
            max-width: 500px;
            box-sizing: border-box;
            border-radius: 5px;
        }
        > input {
            background: #fff;     
            font-size: 18px;            
            padding: 10px 15px;
            font-weight: 300;
        }

        > button {
            background: #fff;
            color: #d95e3f;
            margin-top: 10px;
        }
    }
}